
<h1>Create a new Student</h1>

<form action='/students' method="post"> 
Student Name:<input type="text" name="student[name]" value="">
Student Age:<input type="integer" name="student[age]" value="">
SAT Score:<input type="integer" name="student[sat_score]" value="">
<input type="submit" name="" value="Create New Student">
</form>